<html>
    <head>
    <title>Books List</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {
            margin: 0;
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: grey;
            padding-left: 10px;
        }

        main {
            margin-left: 280px;;
        }
        
        </style>
    </head>
    <body>
        <nav>
            <h2> Navigation bar</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="A_books.html">Books</a></li>
                <li><a href="A_contactus.html">Contact Us</a></li>
                <li><a href="A_survey.html">Survey</a></li>
            
            </ul>
        </nav>
        <main>
        <h1>Books List</h1>
        <p>
        <a href="cukas.html" ><img src="secret.png" title="Can you keep a secret?" /> Can you keep a secret? </a></p>

        <p>
        <a href="sas.html"><img src="storm.jpg" title="Storm and Silence"/> Storm and Silence </a></p>

        <p>
        <a href="sas2.html"><img src="sas2.png" title="In the Eye of the Storm" />In the Eye of the Storm </a></p>
        </main>
    </body>
</html>