 <html>
    <head>
        <title> Agam's Library</title>                      <!-- I used a youtube video for the reference https://www.youtube.com/watch?v=2K9aNCS8iAI-->
        <style>
        * {
            box-sizing: border-box;                                             
            font-family: sans-serif;
        }

        body {
            margin: 0;
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: grey;
            padding-left: 10px;
        }

        main {
            margin-left: 280px;
        }
        
        </style>
    </head>
  <body>
    <nav>
        <h2> Navigation bar</h2>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="A_books.html">Books</a></li>
            <li><a href="A_contactus.html">Contact Us</a></li>
            <li><a href="A_survey.html">Survey</a></li>
        
        </ul>
    </nav>
    <main>
    <h1>Agam's Library</h1>
    <h2>Welcome</h2>
    <div style="word-spacing: normal";>This is my website created for some books that I have read and I recommend you to read it. <br>
        Kindly follow the links provided the navigation panel to access the books.</div>

    </main>
  </body>
</html>
    
  

    




 
